/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;800&family=Manrope:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    /* background: #1A1F1A; */
}
/* body, html{
    overflow-x: hidden;
} */

/* navBar styling starts */
.headerWrapper {
    height: 74px;
    width: 100%;
    background-color: #1A1F1A;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    position: fixed;
    top: 0;
}


/* 2nd section */
.aboutSection {
    /* outline: 1px solid red; */
    margin-top: 2.9rem;
    width: 100%;
    height: 100%;
    padding: 0 0 80px;
    background: #ffff;
}

.aboutWrapper {
    display: flex;
    padding-left: 7.5rem;
    padding-right: 6rem;
    padding-top: 9rem;
}


.training h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 3rem;
    width: 350px;
    color: #2F2F2F;
}

.training p {
    margin-top: 2rem;
    color: #474747;
    font-size: .875rem;
    width: 390px;
}

.btn {
    margin-top: 2rem;
    padding: .875rem 2.5rem;
    background-color: #52A350;
    color: #ffff;
    font-size: 0.875rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none; 
}

.gridContainer {
    display: grid;
  grid-template-columns: auto auto;
  gap: 8rem;
  margin-left: 1.2rem;
}

.gridItem h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.gridItem p {
    font-family: Manrope;
    font-size: .875rem;
    width: 270px;
}

/* Media Queries */
@media screen and (max-width: 1212px) {
    .navLogin {
     position: relative;
     top: -0.86rem;
    }
 }
 
@media screen and (max-width: 1024px) {
     .hamburger {
         display: block;
         cursor: pointer;
     }
     .hamburger .line {
         width: 30px;
         height: 3px;
         background: #1F7144;
         margin: 0.375rem 45rem;
         position: relative;
         top: -2.6rem;
         -webkit-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
     }
     .hamburger.active .line:nth-child(2) {
         opacity: 0;
     }
     .hamburger.active .line:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
     }
     .hamburger.active .line:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
     }
     .navList {
         /* background: #1A1F1A; */
         position: fixed;
         width: 100%;
         top: 120px;
         left: -60%;
         margin-left: -1rem;
         /* text-align: center; */
         /* display: none; */
         /* transition: 0.3s; */
     }
     .navList li {
         display: block;
         margin: 0.5rem;
         width: 100%;
     }
     .navList.active {
         background: #1A1F1A;
         width: 100%;
         left: 0;
     }
    .notificationBar {
        width: 100%;
        text-align: left;
    }
    .mainHero {
        flex-direction: column;
    }
    .heroRight {
        /* outline: 1px solid red; */
        width: 750px;
        height: 400px;
        text-align: center;
    }
    .heroRight h1 {
        width: 600px;
        text-align: center;
        margin-left: 5rem;
    }
    .heroRight p {
        width: 720px;
    }
    .btnLogin {
        margin-left: 32rem;
    }
    .heroRight ul {
        margin-top: 28rem;
        margin-left: 14rem;
        gap: 1rem;
    }
    .heroImg {
        margin-top: -3rem;
        margin-left: -1rem;
    }
    .info {
        display: none;
    }
    .playVideo {
        margin-top: .6rem;
    }
    .aboutWrapper {
        flex-direction: column;
        padding-top: 6rem;
        text-align: center;
    }
    .training h2 {
        width: 440px;
        margin-left: 8rem;
    }
    .training p {
        width: 700px;
    }
    .btn {
        margin-left: -6rem;
    }
    .gridContainer {
        margin-top: 4rem;
        gap: 6rem;
    }

  
}

@media screen and (max-width: 896px) {
    /* .headerWrapper {
        padding-left: 2rem;
    } */
    .hamburger {
        position: absolute;
        left: -10rem;
    }
    .notificationBar {
        width: 100%;
        margin-left: 3rem;
    }
    .mainHero {
        margin-left: 1rem;
    }
    .heroRight {
        width: 560px;
    }
    .heroRight h1 {
        width: 500px;
        height: 96px;
        font-size: 2.25rem;
    }
    .heroRight p {
        width: 600px;
        height: 48px;
    }
    .btnLogin {
        margin-left: 1rem;
        width: 600px;
    }
    .heroImg {
        width: 600px;
        height: 254px;
    }
    .playVideo {
        margin-left: 10rem;
    }
    .heroRight ul {
        margin-left: 10rem;
    }
    .aboutSection {
        height: 100%;
        width: 100%;
    }
    .aboutWrapper {
        padding-left: 4rem;
    }
    .training h2 {
        font-size: 1.875rem;
    }
    .training p {
        width: 420px;
        height: 55px;
        margin-left: 4rem;
    }
    .gridContainer {
        display: grid;
        gap: 3rem;
        margin-left: 2rem;
        margin-top: -1rem;
        grid-template-columns: auto;
    }
    .gridItem p {
        width: 100%;
        margin-left: 4rem;
        opacity: 0.9;
    }
    .btn {
       position: relative;
       top: 45rem;
       width: 100%;
       margin-left: 3rem;
    }
}


.sectionWrapper {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    height: auto;
    margin-bottom: 5%;
}

.firstSection {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.imageWrapper {

    display: flex;
    justify-content: flex-start;
    height:auto;
    width: 100%;
    position: relative;
}

.imageWrapper .imageAd {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    top: 0px;

}

.skillDemand {
    padding-top: 5%;
    padding-left: 3%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100%;
}

.textWrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

}


.skillWriteUp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skillDemand .skillHeader {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
}

.skillDemand .skillHeader h2 {
    height: auto;
    font-size: 35px;
    text-align: left;
    word-spacing: 0.2em;
    font-weight: 800;
    color: #0c180c;
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skillDemand .skillHeader h2 span {
    color: #52a350;
}
.skillWriteUp p {
    font-size: 15px;
    font-weight: 400px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.perksContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

.perksContainer .perksHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
}

.perksContainer .perksHeaderWrapper .perksBtn {
    padding: 10px;
    border: none;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #51a35048;
    cursor: pointer;
    color: #52a350;

}

.perksIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    transition: 350ms all ease;
}

.rotateArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
}

.material-symbols-outlined {
    color: #52a350;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.perksContainer .perksHeader {
    font-weight: bold;
    color: #52a350;
    font-size: 15px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.perksContainer .perksListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    position: relative;
}

.perksListWrapper {
    padding: 5px;
    margin: 5px;
}

.perksListWrapperHidden {
    display: none;
}

.perksContainer .perksListContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    height: auto;
    width: auto;
    gap: 5px;
    font-size: 14px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(98, 98, 98);
}


.textWrapper .signUpBtnWrapper {
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.textWrapper .signUpBtnWrapper .signUpBtn {
    background-color: #52a350;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gotYouHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}

.gotYouHeader h4 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    margin: auto;
    color: #0c180c;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ANIMATION */

.animationWrapper {
    display: flex;
    height: auto;
    width: 90vw;

    overflow: hidden;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.slider {
    height: 110px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 10);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: purple; */
    margin: auto;
}

.slider .slide {
    height: auto;
    width: auto;
}

.slider .slide img {
    width: auto;
    height: 60px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* ANIMATION */

section .cards {
    margin: auto;
    margin-top: 10%;
    display: flex;
    padding: 10px 100px;
    display: flex;
    width: 100%;
    gap: 20px;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}


section .cards .cardWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    gap: 40px;
    border: 1px solid darkgray;
}

section .cards .cardWrapper .cardImage {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .cards .cardWrapper .cardImage img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    object-fit: cover;
}

section .cards .cardWrapper .cardText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    width: 90%;
    height: 110px;
    gap: 5px;
}

section .cards .cardWrapper .cardText h2 {
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    width: 100%;

}

section .cards .cardWrapper .cardText p {
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
    font-size: 18px;
    width: 100%;
}

section .cards .cardWrapper .cardPromoIcon {
    /* margin: auto; */
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

section .cards .cardWrapper .cardPromoIcon img {
    object-fit: contain;
    right: 0px;
    display: flex;
}

section .payToJoinContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    align-items: center;
}

section .payToJoinContainer h1 {
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-weight: 800;
    font-size: 50px;
}

section .payToJoinContainer .signUpBtnWrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

section .payToJoinContainer .signUpBtnWrapper button {
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    background-color: #52a350;
    border: none;
    border-radius: 5px;
    transition: 350ms all ease;
    cursor: pointer;
}

section .payToJoinContainer .signUpBtnWrapper button:hover {
    color: #52a350;
    background-color: #51a3506e;
}

@media (max-width: 900px) {
    .firstSection {
        flex-direction: column;
    }

    .skillDemand {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        height: auto;
        width: 100%;
    }

    .textWrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;

    }

    .skillDemand .skillHeader h2 {
        height: auto;
        font-size: 28px;
        text-align: left;
        text-align: center;
        word-spacing: 0.2em;
        font-weight: 800;
        color: #0c180c;
        font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .skillWriteUp {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .skillWriteUp p {
        font-size: 14px;
        font-weight: 400px;
        text-align: center;
        color: rgb(141, 141, 141);
        font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .perksContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #bfbfbf;
    }

    .textWrapper .signUpBtnWrapper .signUpBtn {
        background-color: #52a350;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



    section .cards {
        margin: auto;
        margin-top: 10%;
        display: flex;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    section .cards .cardWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid darkgray;
        width: 100%;
        gap: 40px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
    }

    section .payToJoinContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        align-items: center;
    }

    section .payToJoinContainer h1 {
        font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 25px;
        width: auto;
        margin: auto;
        text-align: center;
        display: flex;
    }

    section .payToJoinContainer .signUpBtnWrapper {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
    }

    section .payToJoinContainer .signUpBtnWrapper button {
        padding: 15px 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: white;
        background-color: #52a350;
        border: none;
        border-radius: 5px;
        transition: 350ms all ease;
        cursor: pointer;
    }
}

/* footer styling starts here */
footer{
    background-color: #1A1F1A;
    color: white;
    padding: 30px 80px;
 }
.footer_loop{
    margin: 50px auto 80px;
    display: flex;   
}
.footer_loop_1{
    flex-basis: 60%;
}
.footer_loop_1 h1{
    font-size: 45px;
    font-weight: bold;
}
.footer_loop_1 p{
    font-size: 14px;
    margin: 30px 0;
    font-weight: bold;
}
.footer_loop_1 form{
    margin: 30px 0;
    position: relative;
    width:80%;
}
.footer_loop_1 > form > input{
    padding: 15px 35px;
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 3px;
}
.footer_loop_1 > form > button{
    border: none;
    background-color: #54a453;
    padding: 5px 30px;
    position:absolute;
    top: 11px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}
.footer_loop_1 > form > svg{
    position: absolute;
    left: 15px;
    top:20px;
    font-size: 30px;
    color: gray;
}
.footer_loop_2{
    margin-top:100px;
}
.footer_loop_2 h3{
    font-size:30px;
    font-weight:bold;
}
.footer_loop_2 button{
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #54a453;
    margin-right:10px;
    margin-bottom: 20px;
}
svg{
    margin-right: 3px;
}
.footer_work, .footer_work_2{
    display: flex;
}
.footer_work_1{
    flex-basis: 60%;
}
.footer_work_1_inner{
    display: flex;
    align-items: center;
}
.footer_work_1_inner  h4{
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
}
.footer_work_1 a{
    text-decoration: none;
    color: #54a453;
    border-bottom: 1px solid #54a453;
    padding-bottom:3px;
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    margin: 30px 0;
}
.footer_work_1 svg{
    color: #54a453;
    size: 40px;
}
.footer_work_1 p{
    width: 50%;
    font-size:14px;
    margin-top:30px;
    color: gray;
    font-weight: 600;
}
.footer_work_2{
    width: 45%;
}
.footer_links{
    margin-right:70px;
}
.footer_links ul li{
    list-style-type: none;
}
.footer_links ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size:14px;
    line-height: 2.5;
}
.footer_links  li:nth-child(1){
    color: #54a453;
    margin-bottom:20px;
}
.footer_links  li:nth-child(1) > a{
    font-weight:bold;
    font-size:16px;
    line-height: 1;
}
.footer_contact{
    margin: 40px auto 20px;
}
.footer_contact p{
    font-size:13px;
    color: #676689;
    margin-top: 30px;
}
/* footer styling ends here */

@media only screen and (max-width: 1330px) {
    footer{
        padding: 30px 70px;
    }
    .footer_loop_1{
        flex-basis: 50%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1024px) {
    footer{
        padding: 30px 50px;
    }
    .footer_loop{
        display: initial;   
    }
    .footer_loop_1 form{
        width:100%;
    }
    .footer_loop_1{
        margin-bottom: -20px;
    }
    .footer_loop_2{
        margin-bottom: 80px;
    }
    .footer_work_1 p{
        width: 90%;
    }
    .footer_links{
        margin-right:40px;
    }
}

@media only screen and (max-width: 768px) {
    footer{
        padding: 30px 40px;
    }
    .footer_work{
        display: initial;
    }
    .footer_work_1 p{
        width: 100%;
    }
    .footer_work_2{
        width: 80%;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 600px) {
    footer{
        padding: 30px 20px;
    }
    .footer_loop_1 h1{
        font-size: 35px;
    }
}

@media only screen and (max-width: 480px) {
    .footer_loop_2 button{
        margin-right:10px;
        margin-bottom: 20px;
    }
    .footer_contact p{
        text-align: center;
    }
    /* .footer_loop_1 h1{
        font-size: 25px;
    } */
}