* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sectionWrapper {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    height: auto;
    margin-bottom: 5%;
}

.firstSection {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.imageWrapper {

    display: flex;
    justify-content: flex-start;
    height:auto;
    width: 100%;
    position: relative;
}

.imageWrapper .imageAd {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    top: 0px;

}

.skillDemand {
    padding-top: 5%;
    padding-left: 3%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100%;
}

.textWrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

}


.skillWriteUp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skillDemand .skillHeader {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
}

.skillDemand .skillHeader h2 {
    height: auto;
    font-size: 35px;
    text-align: left;
    word-spacing: 0.2em;
    font-weight: 800;
    color: #0c180c;
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skillDemand .skillHeader h2 span {
    color: #52a350;
}
.skillWriteUp p {
    font-size: 15px;
    font-weight: 400px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.perksContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

.perksContainer .perksHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
}

.perksContainer .perksHeaderWrapper .perksBtn {
    padding: 10px;
    border: none;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #51a35048;
    cursor: pointer;
    color: #52a350;

}

.perksIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    transition: 350ms all ease;
}

.rotateArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
}

.material-symbols-outlined {
    color: #52a350;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.perksContainer .perksHeader {
    font-weight: bold;
    color: #52a350;
    font-size: 15px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.perksContainer .perksListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    position: relative;
}

.perksListWrapper {
    padding: 5px;
    margin: 5px;
}

.perksListWrapperHidden {
    display: none;
}

.perksContainer .perksListContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    height: auto;
    width: auto;
    gap: 5px;
    font-size: 14px;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(98, 98, 98);
}


.textWrapper .signUpBtnWrapper {
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.textWrapper .signUpBtnWrapper .signUpBtn {
    background-color: #52a350;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gotYouHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}

.gotYouHeader h4 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    margin: auto;
    color: #0c180c;
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ANIMATION */

.animationWrapper {
    display: flex;
    height: auto;
    width: 90vw;

    overflow: hidden;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.slider {
    height: 110px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 10);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: purple; */
    margin: auto;
}

.slider .slide {
    height: auto;
    width: auto;
}

.slider .slide img {
    width: auto;
    height: 60px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* ANIMATION */

section .cards {
    margin: auto;
    margin-top: 10%;
    display: flex;
    padding: 10px 100px;
    display: flex;
    width: 100%;
    gap: 20px;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}


section .cards .cardWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    gap: 40px;
    border: 1px solid darkgray;
}

section .cards .cardWrapper .cardImage {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .cards .cardWrapper .cardImage img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    object-fit: cover;
}

section .cards .cardWrapper .cardText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    width: 90%;
    height: 110px;
    gap: 5px;
}

section .cards .cardWrapper .cardText h2 {
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    width: 100%;

}

section .cards .cardWrapper .cardText p {
    font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
    font-size: 18px;
    width: 100%;
}

section .cards .cardWrapper .cardPromoIcon {
    /* margin: auto; */
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

section .cards .cardWrapper .cardPromoIcon img {
    object-fit: contain;
    right: 0px;
    display: flex;
}

section .payToJoinContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    align-items: center;
}

section .payToJoinContainer h1 {
    font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-weight: 800;
    font-size: 50px;
}

section .payToJoinContainer .signUpBtnWrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

section .payToJoinContainer .signUpBtnWrapper button {
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    background-color: #52a350;
    border: none;
    border-radius: 5px;
    transition: 350ms all ease;
    cursor: pointer;
}

section .payToJoinContainer .signUpBtnWrapper button:hover {
    color: #52a350;
    background-color: #51a3506e;
}

@media (max-width: 900px) {
    .firstSection {
        flex-direction: column;
    }

    .skillDemand {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        height: auto;
        width: 100%;
    }

    .textWrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;

    }

    .skillDemand .skillHeader h2 {
        height: auto;
        font-size: 28px;
        text-align: left;
        text-align: center;
        word-spacing: 0.2em;
        font-weight: 800;
        color: #0c180c;
        font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .skillWriteUp {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .skillWriteUp p {
        font-size: 14px;
        font-weight: 400px;
        text-align: center;
        color: rgb(141, 141, 141);
        font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .perksContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #bfbfbf;
    }

    .textWrapper .signUpBtnWrapper .signUpBtn {
        background-color: #52a350;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-family: manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



    section .cards {
        margin: auto;
        margin-top: 10%;
        display: flex;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    section .cards .cardWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid darkgray;
        width: 100%;
        gap: 40px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
    }

    section .payToJoinContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        align-items: center;
    }

    section .payToJoinContainer h1 {
        font-family: Darker Grotesque, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 25px;
        width: auto;
        margin: auto;
        text-align: center;
        display: flex;
    }

    section .payToJoinContainer .signUpBtnWrapper {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
    }

    section .payToJoinContainer .signUpBtnWrapper button {
        padding: 15px 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: white;
        background-color: #52a350;
        border: none;
        border-radius: 5px;
        transition: 350ms all ease;
        cursor: pointer;
    }



















}